.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.columnWrapper {
  display: flex;
  justify-content: flex-start;
  margin-right: 25px;
  flex-direction: column;
  width: 100%;

  &:last-of-type {
    margin-right: 0px;
  }
}

.profilePhoto {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #E18A7b;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  max-height: 400px;
  & > img {
    //height: calc(100% - 100px)
    margin: 80px;
    max-height: 260px;
  }

  & + div{
    min-height: calc(100vh - 650px);
    & > div{
      max-height: 250px;
    }
  }
}

.title {
  background-color: #E18A7b;
  height: 75px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-shadow: #333 0px 4px 4px;
  color: #250000E5;
}

.body {
  width: 100%;
  min-height: calc(100vh - 220px);
  background-color: #F19066;
  border-radius: 30px;
  display: inline-block;
  padding-bottom: 60px;

  & > div {
    margin: 16px;
    max-height: 500px;
  }
}

.extra_style_template{

}
.formWrapper{
  height: 100%;
  & > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    height: 100%;
    & > input{
      background: #F2AE7C;
      width: 100%;
      height: 62px;
      border-radius: 62px;
      margin-bottom: 20px;
      max-height: 62px;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: 'Roboto', sans-serif;
      font-size: 40px;
      font-weight: 400;
      padding-left: 20px;
      margin-top: 10px;
      color: rgba(20, 0, 0, 0.85);

      &::placeholder{
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: 400;
        color: rgba(37, 0, 0, 0.50);
      }
    }
  }
}
.extra_margin_bottom{
  margin-bottom: 50px !important;
}

.save{
  height: 62px;
  background-color: #B76F50;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #250000;
  border-radius: 62px;
  margin-top: 150px;
  margin-left: 40px;
  margin-right: 40px;

}